@model Study2gether.Models.Post

@{
    ViewData["Title"] = "Interacoes";
}

@{
    var categories = ViewData["Categories"] as List<Category>;
    var axes = ViewData["Axes"] as List<Axis>;
    var microfoundations = ViewData["Microfoundations"] as List<Microfoundation>;
    var postList = ViewData["postList"] as List<Post>;
    var filteredPosts = ViewData["FilteredPostList"] as List<Post>;
}

<div class="row">
    <div class="col-sm-3 mt-5 row justify-content-start align-content-start" id="lista">
        <div>
            <ul>
                <li class="btn btn-warning d-block mt-2"><a class="text-dark" asp-action="Indicacoes">Indicações</a></li>
                <li class="btn btn-warning d-block mt-2"><a class="text-dark" asp-action="Perguntas">Perguntas</a></li>
                <li class="btn btn-warning d-block mt-2"><a class="text-dark" asp-action="Interacoes">Interações</a></li>
            </ul>
        </div>
    </div>
    
    <div class="posts col-sm-9 mt-5">
        <div id="post-1">
            @if (ViewData["FilteredPostList"] != null)
            {
                foreach (var obj in filteredPosts)
                {
                    <div class="caixa card rounded-lg mb-3">
                        <div class="card-header">
                            <h4 class="text-center"><a asp-action="Respostas" asp-route-id="@obj.idPost">@obj.title</a></h4>
                        </div>
                        <div class="card-body">
                            <div>@Html.Raw(@obj.content)</div>
                        </div>
                        <div class="card-footer">
                            <div class="reactions d-inline">

                                @obj.Reactions.Count(r => r.Name == "comment") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="comment"><i class="fa-regular fa-comment-dots"></i></a>

                                @obj.Reactions.Count(r => r.Name == "smile") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="smile"><i class="fa-regular fa-face-smile"></i></a>

                                @obj.Reactions.Count(r => r.Name == "chart") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="chart"><i class="fa-solid fa-chart-column"></i></a>

                                @obj.Reactions.Count(r => r.Name == "star") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="star"><i class="fa-solid fa-star"></i></a>
                            </div>
                            <label class="float-right" for="data-iteracao"><small>Data da interação: @obj.created_date</small></label>
                        </div>
                    </div>
                }
            }

            else
            {
                @foreach (var obj in postList)
                {
                    <div class="caixa card rounded-lg mb-3">
                        <div class="card-header">
                            <h4 class="text-center"><a asp-action="Respostas" asp-route-id="@obj.idPost">@obj.title</a></h4>
                        </div>
                        <div class="card-body">
                            <div>@Html.Raw(@obj.content)</div>
                        </div>
                        <div class="card-footer">
                            <div class="reactions d-inline">

                                @obj.Reactions.Count(r => r.Name == "comment") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="comment"><i class="fa-regular fa-comment-dots"></i></a>

                                @obj.Reactions.Count(r => r.Name == "smile") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="smile"><i class="fa-regular fa-face-smile"></i></a>

                                @obj.Reactions.Count(r => r.Name == "chart") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="chart"><i class="fa-solid fa-chart-column"></i></a>

                                @obj.Reactions.Count(r => r.Name == "star") <a asp-action="ReactToPost" asp-route-idPost="@obj.idPost" asp-route-reactioName="star"><i class="fa-solid fa-star"></i></a>
                            </div>
                            <label class="float-right" for="data-iteracao"><small>Data da interação: @obj.created_date</small></label>
                        </div>
                    </div>
                }
            }
        </div>
        <a class="pe-auto" data-toggle="modal" data-target="#postInteraction" style="cursor: pointer">
            <i class="fa-solid fa-circle-plus text-primary fa-3x fixed-bottom mb-3 ml-3 pe-auto"></i>
        </a>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="postInteraction" tabindex="-1" role="dialog" aria-labelledby="postInteractionitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" id="testring">
                <h5 class="modal-title" id="postInteractionLongTitle">Publique sua Interação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Interacoes">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="categoryId"><b>Categorias</b></label>
                            <select multiple class="form-control selectpicker" data-live-search="true" id="categoryId" name="categoryId">
                                @foreach (var obj in categories)
                                {
                                    <option value="@obj.idCategory">@obj.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label><b>Eixos</b></label>
                            <select multiple class="form-control selectpicker" data-live-search="true" id="axisId" name="axisId">
                                @foreach (var obj in axes)
                                {
                                    <option value="@obj.idAxis">@obj.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label><b>Microfundamentos</b></label>
                            <select multiple class="form-control selectpicker" data-live-search="true" id="microfoundationId" name="microfoundationId">
                                @foreach (var obj in microfoundations)
                                {
                                    <option value="@obj.idMicrofoundation">@obj.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="title" class="control-label">Titulo</label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="content" class="control-label">Conteudo</label>
                        <textarea id="tiny" asp-for="content"></textarea>
                        <span asp-validation-for="content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <div class="float-right d-inline-block">
                            <input type="submit" value="Publicar" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

