@model Study2gether.Models.Post

@{
    ViewData["Title"] = "Respostas";
}
@{
    var post = ViewData["Post"] as Post;
    var isAuthenticated = User.Identity.IsAuthenticated;
}


<div class="row">
    <div class="col-sm-3 mt-5 row justify-content-start align-content-start" id="lista">
        <div>
            <ul>
                <li class="btn btn-warning d-block mt-2"><a class="text-dark" asp-action="Indicacoes">Indicações</a></li>
                <li class="btn btn-warning d-block mt-2"><a class="text-dark" asp-action="Perguntas">Perguntas</a></li>
                <li class="btn btn-warning d-block mt-2"><a class="text-dark" asp-action="Interacoes">Interações</a></li>
            </ul>
        </div>
    </div>

    <div class="replies col-sm-9 mt-5">
        <div id="replies-container">

            <div class="caixa card rounded-lg mb-3">
                <div class="card-header">
                    <h4 class="text-center">@post.title</h4>
                </div>
                <div class="card-body">
                    <div>@Html.Raw(@post.content)</div>
                </div>

                <div class="card-footer">
                    <label class="float-right" for="data-resposta"><small>Data da pergunta: @post.created_date)</small></label>
                </div>
            </div>
        </div>

        @foreach (var obj in post.Answers)
        {
            <div class="caixa card rounded-lg mb-3 bg-answers">
                <div class="card-header">
                    <h4 class="text-center">@obj.title</h4>
                    <p>@obj.User.name</p>
                </div>
                <div class="card-body">
                    <div>@obj.content</div>
                </div>
                <div class="card-footer">
                    <label class="float-right" for="data-resposta"><small>Data da resposta: @post.created_date)</small></label>
                </div>
            </div>
        }


        @if (isAuthenticated)
        {
            <div class="container">
                <form asp-action="Respostas">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <div class="form-group">
                            <label asp-for="content" class="control-label">Resposta</label>
                            <input asp-for="content" class="form-control" />
                            <span asp-validation-for="content" class="text-danger"></span>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Enviar</button>
                            <a class="btn btn-secondary" asp-action="Perguntas" asp-controller="Posts" role="button">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>
