
@model Study2gether.Models.User

@{
    ViewData["Title"] = "Histórico";

}

<link rel="stylesheet" href="../../css/historico.css">
<hr />
<div class="perfilHistorico">
    <table aria-hidden="true" class="fs-exclude ic-avatar">
        <tr>
            <td><img id="fotoPerfil" src="@Model.imageLink" alt="Foto de Perfil"></td>
            <td style="color: white"><p>@Model.name</p></td>
        </tr>
    </table>
    <div id="container-a">
        <div class="sobreVoce-redesSociais">
            <label style="color: white" asp-for="description" class="control-label">Sobre Você</label>
            <textarea disabled asp-for="description" class="box-description-socialMedia">
                @Model.description
            </textarea>                 
        </div>
        <div class="sobreVoce-redesSociais">
            <label style="color: white" asp-for="socialMedia" class="control-label">Redes Sociais</label>
            <textarea disabled asp-for="socialMedia" class="box-description-socialMedia">
                @Model.socialMedia
           </textarea>
        </div>
        <div class="form-group">
            <a class="btn btn-info" asp-controller="Users" asp-action="EditarPerfil">Editar Perfil</a>
            <a class="btn btn-info" asp-controller="Users" asp-action="AlterarSenha">Alterar Senha</a>
            <a class="btn btn-info" asp-controller="Home" asp-action="Index">Sair</a>
        </div>
    </div>
    <div id="container-b">
        <div id="historicoTitle">
            <span><strong>Histórico</strong></span>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Perguntas')" id="defaultOpen">PERGUNTAS</button>
            <button class="tablinks" onclick="openCity(event, 'Respostas')">RESPOSTAS</button>
            <button class="tablinks" onclick="openCity(event, 'Interacoes')">INTERAÇÕES</button>
            <button class="tablinks" onclick="openCity(event, 'Favoritos')">FAVORITOS</button>
        </div>
        <div id="Perguntas" class="tabcontent">
            @foreach (var pergunta in @Model.Posts)
            {
                @if (pergunta.type == Study2gether.Models.Types.Question)
                {
                    <div>
                        <a asp-controller="Posts" asp-action="Perguntas" asp-route-id="@pergunta.idPost"><h6>@pergunta.title</h6></a>
                        <p id="limitContent">@Html.Raw(@pergunta.content)</p>
                    </div>
                    <hr>
                }
            }
        </div>
        <div id="Respostas" class="tabcontent">
            @foreach (var resposta in @Model.Answers.OrderByDescending(o => o.created_date))
            {
                <div>
                    <h6>@resposta.Post.title)</h6>
                    <a asp-controller="Posts" asp-action="Respostas" asp-route-id="@resposta.idPost"><p id="limitContent">@Html.Raw(@resposta.content)</p></a>
                </div>
                <hr>
            }
        </div>
        <div id="Interacoes" class="tabcontent">
            @foreach (var interacao in @Model.Posts)
            {
                @if (interacao.type == Study2gether.Models.Types.Interaction)
                {
                    <div>                  
                        <a asp-controller="Posts" asp-action="Respostas" asp-route-id="@interacao.idPost"><h6>@interacao.title</h6></a>
                        <p id="limitContent">@Html.Raw(@interacao.content)</p>
                    </div>                   
                    <hr>
                }
            }
        </div>
        <div id="Favoritos" class="tabcontent">         
            @foreach (var reacao in @Model.Reactions.Where(r => r.Name == "Star"))
            {
                <div>
                    <a asp-controller="Posts" asp-action="Respostas" asp-route-id="@reacao.idPost"><h6>@reacao.Post.title</h6></a>
                    <p id="limitContent">@Html.Raw(@reacao.Post.content)</p>
                </div>
                <hr>
            }           
        </div>
    </div>
    <script src="../../js/historico.js"></script>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

