@{
    var axes = ViewData["Axes"] as List<Axis>;
    var microfoundations = ViewData["Microfoundations"] as List<Microfoundation>;
    var categories = ViewData["Categories"] as List<Category>;
}

<form id="filtros-form" method="get">
    <div class="form-row align-items-center">
        <div class="col" id="divFiltroEixos">
            <select class="form-select" name="axis" style="padding: 5px; border-radius: 2.5rem; text-align: center;">
                <option selected value="">Selecione um Eixo</option>
                @foreach (var element in axes)
                {
                    <option value="@element.idAxis">@element.name</option>
                }
            </select>
        </div>
        <div class="col" id="divFiltroMicrofundamentos">
            <select class="form-select" name="micro" id="selectFiltroMicros" style="padding: 5px; border-radius: 2.5rem; text-align: center;">
                <option selected value="">Selecione um Microfundamento</option>
                @foreach (var element in microfoundations)
                {
                    <option value="@element.idMicrofoundation">@element.name</option>
                }
            </select>
        </div>
        <div class="col" id="divFiltroCategorias">
            <select class="form-select" name="category" id="selectFiltroCategories" style="padding: 5px; border-radius: 2.5rem; text-align: center;">
                <option selected value="">Selecione uma Categoria</option>
                @foreach (var element in categories)
                {
                    <option value="@element.idCategory">@element.name</option>
                }
            </select>
        </div>
        <div class="col">
            <a class="btn btn-info" onclick="Filtrar()"><i class="fas fa-filter"></i></a>
        </div>
    </div>
</form>

<div class="col-sm-2 row justify-content-around align-content-center" id="divFiltroCategoria">
    <select class="form-select" id="selectFiltroCategory" style="padding: 5px; width: 220px; border-radius: 2.5rem; text-align: center;">
        <option selected>Selecione uma Categoria</option>
            @foreach (var element in category)
            {
                <option value="@element.idCategory">@element.name</option>
            }
    </select>
</div>

<script>
    function Filtrar() {
        document.getElementById('filtros-form').submit();
    }
</script>